.header {
  background: $moody-gray;
  color: #FFFFFF;
  margin-bottom: $xlarge-size;
  padding: $medium-size 0;
  border-bottom: solid 0.1rem lighten($moody-gray, 30%);
}

.header__title {
  font-size: $large-size;
  margin: 0;
}

.header__subtitle {
  color: #EEEEEE;
  font-size: $medium-size;
  font-weight: 500;
  margin: 0;
}