// COLORS
$purple: rgb(61, 71, 216);
$purple-dark: rgb(61, 71, 216);
$do-blue: #3d03d0;
$dark-bg: #333745;
$light-bg: #f3f3f3;
$tomato-red: #f44336;
$warning-red: #f56060;
$salmon-red: #fd6f65;
$battleship-gray: #3b4d55;
$moody-gray: #607d8b;
$light-gray: #c7c7c7;
$overcast-gray: #b7c6cd;
$smoky-gray: #e8e8e8;
$dada-gray: #dadada;

// SPACING
$small-size: 1.2rem;
$medium-size: 1.6rem;
$large-size: 3.2rem;
$xlarge-size: 4.8rem;